.container {
  display: flex;
  min-height: 100vh;
}

.left {
  width: 50%;
  padding: 40px;
}

.right {
  width: 50%;
  overflow: hidden;
  position: relative
}

.bubble {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 50px;
  padding: 16px;
  width: 288px;
  color:#0B23F4;
  font-family: "Inter";
  font-size: 12px;
  text-align:center;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  flex-direction: column;
  width: 398px;
  height: 617px;
  margin: 151px 134px 177px 100px;
}

input {
  width: 317px;
  box-sizing: border-box;
  height: 58px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

form {
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    gap: 8px;
}

button {
    width: 318px;
    padding: 14px;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #2D32AA;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

h1 {
  color :#0B23F4; 
  font-size: 28px;
  font-family: "Inter";
  margin-left: 40px
  
}

h2 {
  margin-left: 40px;
  font-family: "Inter";
  font-weight: 500;
}

p{
  margin-left: 40px
}

label {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  color:#707070;
  margin-bottom: 4px;
}