.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
}

.nav {
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: white;
  gap: 40px;
  padding: 10px 20px;
  margin-top : 35px;
  margin-right: 150px;
}

.SportSee {
    margin-left: 150px;
    margin-top: 48px;
}
     
.logoutBtn {
    background: none;
    border: none;
    cursor: pointer;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    color : #0B23F4;
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 14px;
}