.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 529px;
  height: 103px;
  margin-left: 57px;
}

.error {
  color: red;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}
